.container {
  width: 1300px;
}

.slider {
  text-align: center;
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  margin-bottom: 30px;
}

.arrow {
  font-size: 50px;
  position: absolute;
  top: 50%;
}

.arrow_right {
  right: -50px;
  transform: rotate(180deg);
}

.arrow_left {
  left: -50px;
}
