.container{
   width: 70px;
   height: 36px;
}

.buttonLang__container {
   width: 70px;
   height: 36px;
   overflow: hidden;
   background: #FFFFFF;
   border-radius: 10px;
}

.buttonLang__language {
   display: flex;
   margin: 10px 0 10px 7px;
   cursor: pointer;
}

.buttonLang__flag{
   width: 20px;
   height: 17px;
}

.buttonLang__text{
   font-size: 20px;
   font-weight: 600;
   margin-left: 3px;
}
