.footer {
   width: 100%;
   height: var(--height-full-scrin);
   background-color: #254499;
   text-align: center;
   color: #fff;
   font-size: 14px;
   line-height: 17.07px;
   margin-top: 10px;
}

.container {
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.container > *{
   margin: 10px;
}

.social_networks{
   width: 174px;
   height: var(--height-full-scrin);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.icon{
   font-size: 30px;
}

.social_networks > .icon {
   cursor: pointer;
}

.call_center {
   width: 253px;
   height: var(--height-full-scrin);
   display: flex;
   justify-content: space-between;
   text-align: left;
}

.number {
}

.days_work {
}

.mail {
   text-align: left;
}

.delivery {
   display: flex;
   align-items: center;
}

.delivery span {
   margin-left: 15px;
}
