.cardList {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 стовпців */
  grid-template-rows: repeat(2, 1fr); /* 2 рядки */
  grid-row-gap: 36px; /* більший відступ між рядками */
  grid-column-gap: 28px;
}
