.item__container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 48px 38px 64px;
}

.item__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;

  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}
